<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <nav class="nav">
        <ul>
            <li>
                <a href="/cpu_info">CPU Info</a>
            </li>
            <li>
                <a href="/os_info">OS Info</a>
            </li>
        </ul>
    </nav>
    <% if (data != undefined) { %>
        <div class='container'>
            <h1><%= data.title %> </h1>
            <div class="data-container">
                <% value = Object.keys(data) %>
                <% for (i = 0;i< value.length-1;i++) { %> 
                    <div class="info-group">
                        <div class="info-head"><%= value[i] %></div>
                        <div class="info-data">
                            <% if (data[value[i]] != '') { %>
                            <%= data[value[i]] %>
                            <% } else{ %> 
                                N/A 
                            <% } %> 
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    <% } %>
</body>
</html>